body {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.input-container, .slider-container, .select-container {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="range"], select {
  width: 100%;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border: 1px solid #ddd;
}

#result-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#img-loading-text {
  text-align: center
}
