{% import 'input.html' as input %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Map Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Parameters</h2>
        <form action="/submit" method="post" id="parameter-form">
            <div class="select-container">
                <label for="map_type">Map Type</label>
                <select id="map_type" name="map_type">
                      <option value="0">Dungeon</option>
                      <option value="1">Cave</option>
                      <option value="2">Plain</option>
                      <option value="3">Field</option>
                </select>
            </div>
            {{ input.field('map_width', 'Map Width', '10', '300', '48') }}
            {{ input.field('map_height', 'Map Height', '10', '300', '48') }}
            {{ input.slider('map_padding', 'Map Padding', '0', '9', '4', true) }}
            {{ input.slider('wall_height', 'Wall Height', '1', '9', '2', true) }}

            {{ input.range('room_min_size', 'room_max_size', 'Room Min Size', 'Room Max Size', '0', '100', '25', '50') }}
            {{ input.slider('corridor_wide', 'Corridor Wide', '0', '100', '50', false) }}
            <button id="submit_button" type="submit">Generate</button>
        </form>
    </div>
    <div class="main-content">
        <div id="map">
            <img id="result-image" src="" style="display: none;" >
            <div id="img-loading-text">press generate button to create map!</div>
        </div>
    </div>

    <script>
        function getElement(id) {
            return document.getElementById(id)
        }
        function getElementValue(id) {
            return getElement(id).value
        }
        function mappedValue(v, a, b) {
            return Math.floor(a + (v / 100) * (b - a));
        }
        
        getElement('parameter-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const submitButton = getElement('submit_button');
            submitButton.disabled = true;
            submitButton.innerText = 'Generating...';

            const resultImage = getElement('result-image');
            resultImage.style.display = 'none';

            const loadingText = getElement('img-loading-text');
            loadingText.style.display = 'block';
            loadingText.innerText = 'Generating...';
            
            const map_width = getElementValue('map_width');
            const map_height = getElementValue('map_height');
            const map_type = getElementValue('map_type');
            const map_padding = getElementValue('map_padding');
            const wall_height = getElementValue('wall_height');

            let room_min_size = getElementValue('room_min_size');
            let room_max_size = getElementValue('room_max_size');
            let corridor_wide = getElementValue('corridor_wide');

            room_min_size = mappedValue(room_min_size, 4, Math.min(map_width, map_height) - map_padding);
            room_max_size = mappedValue(room_max_size, 4, Math.min(map_width, map_height) - map_padding);
            corridor_wide = mappedValue(corridor_wide, 1, (room_min_size - wall_height) / 2);

            fetch('/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'map_width': map_width,
                    'map_height': map_height,
                    'map_padding': map_padding,
                    'map_type': map_type,
                    'wall_height': wall_height,
                    'room_min_size': room_min_size,
                    'room_max_size': room_max_size,
                    'corridor_wide': corridor_wide,
                })
            })
            .then(response => response.json())
            .then(data => {
                const resultImage = getElement('result-image');
                resultImage.src = data.img_path + '?t=' + new Date().getTime();
                
                submitButton.disabled = false;
                submitButton.innerText = 'Generate';

                resultImage.style.display = 'block';
                loadingText.style.display = 'none';
            })
            .catch(error => console.error('Error:', error));
        });
        
        function updateInputLabel(paramId) {
            const paramValue = getElement(paramId).value;
            document.getElementById(paramId + '_value').textContent = paramValue;
        }
        
        function updateRangeMinInput(minId, maxId) {
            const minValue = parseInt(getElementValue(minId));
            const maxValue = parseInt(getElementValue(maxId));
            if(minValue > maxValue) {
                getElement(maxId).value = minValue;
            }
        }

        function updateRangeMaxInput(minId, maxId) {
            const minValue = parseInt(getElementValue(minId));
            const maxValue = parseInt(getElementValue(maxId));
            if (minValue > maxValue) {
                getElement(minId).value = maxValue;
            }
        }
    </script>
</body>
</html>