{% macro field(id, label, min, max, value) %}
<div class="input-container">
    <label for="{{ id }}">{{ label }}</label>
    <input type="number" id="{{ id }}" name="{{ id }}" min="{{ min }}" max="{{ max }}" value="{{ value }}" required >
</div>
{% endmacro %}

{% macro slider(id, label, min, max, value, showValue) %}
<div class="slider-container">
    <label for="{{ id }}">{{ label }}</label>
    <input type="range" id="{{ id }}" name="{{ id }}" min="{{ min }}" max="{{ max }}" value="{{ value }}" 
        {% if showValue %}
        oninput="updateInputLabel('{{ id }}')"
        {% endif %}
     >
    {% if showValue %}
    <span id="{{ id }}_value">{{ value }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro range(id1, id2, label1, label2, min, max, value1, value2) %}
<div class="range-container">
    <label for="{{ id1 }}">{{ label1 }}</label>
    <input type="range" id="{{ id1 }}" name="{{ id1 }}" min="{{ min }}" max="{{ max }}" value="{{ value1 }}" oninput="updateRangeMinInput('{{ id1 }}', '{{ id2 }}')">
    <label for="{{ id2 }}">{{ label2 }}</label>
    <input type="range" id="{{ id2 }}" name="{{ id2 }}" min="{{ min }}" max="{{ max }}" value="{{ value2 }}" oninput="updateRangeMaxInput('{{ id1 }}', '{{ id2 }}')">
</div>
{% endmacro %}
